<!DOCTYPE html>
<html lang="en">
<style>
    .paragraph {
        font-size: 14px;
        text-indent: 10px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Terms</title>
</head>
<body>

<h3>Пользовательское соглашение</h3>
<p class="paragraph">Настоящее Пользовательское соглашение (далее - Соглашение) регулирует правовые отношения между
    приложением VOZON (далее - Приложение) в лице его владельца ИП Джалмакановой А. К. (далее -
    Администрация) и дееспособным физическим лицом, присоединившимся к настоящему Соглашению (далее -
    Пользователь) в личном интересе или выступающим от имени и в интересах представляемого им
    юридического лица.</p>

<p class="paragraph">В соответствии со статьей 387 Гражданского Кодекса Республики Казахстан (ГК Республики Казахстан)
    данное Соглашение является публичным договором, и в случае принятия (акцепта) изложенных ниже
    условий любое дееспособное физическое или юридическое лицо обязуется выполнять условия
    этого Соглашения.</p>

<p class="paragraph">Соглашаясь с условиями настоящего Соглашения, Пользователь подтверждает свою правоспособность и
    свою дееспособность, подтверждает достоверность своих данных и принимает на себя всю ответственность
    за их точность, полноту и достоверность.</p>


<h3>Общие положения</h3>

<p class="paragraph">Соглашение считается заключенным без каких либо оговорок и исключений в момент любого
    взаимодействия Пользователя с приложением, при этом Пользователь подтверждает свое согласие со всеми
    условиями Соглашения. Если Пользователь не согласен с Соглашением полностью или частично,
    Пользователь вправе не использовать Приложение.</p>

<p class="paragraph">Приложение является интеллектуальной собственностью Администрации, пользователю запрещается
    использовать информацию, полученную из Приложения, в иных программах, социальных сетях, а также
    торговых площадках интернета и СМИ, также размещать ссылку на Приложение. Без письменного
    разрешения Администрации.</p>

<p class="paragraph">Администрация предоставляет пользователям Приложение на безвозмездной основе право на
    использование размещенного в Приложении Контента путем просмотра, воспроизведения (в том числе
    копирования), переработки и доведения до всеобщего сведения.</p>

<p class="paragraph">Правовые отношения между Пользователем и Администрацией по настоящему Соглашению регулируются
    законодательством Республики Казахстан, станах ЕС и СНГ.</p>

<h3>Услуги</h3>

<p class="paragraph">Приложение предоставляет услуги просмотра и размещения информации, добавленной Пользователями с
    целью продажи или покупки товаров и услуг, а также комментариев к имеющейся в приложении информации.</p>

<p class="paragraph">Все сделки заключаются между Пользователями напрямую. Администрация не является участником сделок
    Пользователей, а только предоставляет интернет платформу для размещения информации.</p>

<p class="paragraph">Администрация не выполняет проверку на достоверность информации, указанной Пользователями, и не
    несет ответственности перед любыми третьими лицами за точность и достоверность такой информации.</p>

<h3>Размещение информации в приложении</h3>

<p class="paragraph">Совокупность регистрационных данных Пользователя (далее Учётная запись), Администрация имеет право
    публиковать полностью или частично в Приложении в любых ее разделах. Пользователь соглашается с тем,
    что Администрация имеет право собирать, обрабатывать и хранить Учётную запись Пользователя в
    Приложении в целях исполнения настоящего Соглашения.</p>

<p class="paragraph">Зарегистрированный Пользователь несет персональную ответственность за безопасность своей пары
    логин-пароль, указанных им при регистрации или при последующем изменении, а также несет полную
    ответственность за все действия, которые будут совершены Пользователем или любым другим лицом в
    процессе использования его пары логин-пароль. Пользователь обязан немедленно изменить свой пароль,
    если у него появились подозрения, что его пара логин-пароль стала раскрыта или может быть использована
    третьими лицами.</p>

<p class="paragraph">Регистрационные данные компании публикуются в Приложении в момент завершения регистрация, а
    проверяются через некоторое время после регистрации. Если содержание Учётной записи нарушает правила
    регистрации (в т.ч. не указаны требуемые данные или неверно указанный раздел), настоящее Соглашение
    или содержит информацию, которая противоречит требованиям действующего законодательства, то такая
    Учётная запись удаляется Администрацией.</p>

<p class="paragraph">Пользователь обязуется не создавать несколько Учётных записей в приложении от фактически одного и
    того же юридического или физического лица, в том числе используя при этом разные названия компаний,
    фамилий, адресов и других данных.</p>

<p class="paragraph">Зарегистрированный Пользователь имеет право и возможность самостоятельно удалить свою Учётную
    запись и свои объявления.</p>

<p class="paragraph">Размещая свою информацию в Приложении Пользователь соглашается с нижеследующими правилами:</p>

<p class="paragraph">Запрещено публиковать объявления в разделе, не соответствующем тематике раздела;</p>

<p class="paragraph">В одном объявлении не должно быть более одного товара или услуги;</p>

<p class="paragraph">В заголовке и описании объявлений запрещено публиковать контактные данные и адреса сайтов;</p>

<p class="paragraph">При публикации объявления об услуге, которая подлежит лицензированию, Пользователь обязан указать
    номер лицензии и кем она выдана;</p>

<p class="paragraph">Запрещено публиковать объявления, заголовок или описание которого является логически не связанными
    и
    нечитаемыми;</p>

<p class="paragraph">Запрещено публиковать оскорбления и нецензурные выражения;</p>

<p class="paragraph">Запрещено публиковать информацию, которая может относиться к сбору и хранению персональных данных
    о других пользователях;</p>

<p class="paragraph">Запрещено публиковать объявления о заработке в Интернете, о проведение массовых электронных
    рассылок, о сетевом маркетинге, о работе, требующей материальных вложений, об эротических и оккультных
    услугах;</p>

<p class="paragraph">Запрещено публиковать объявления о товарах и услугах запрещенных к публикации действующим
    законодательством Республики Казахстан а также странах ЕС, и СНГ.</p>

<p class="paragraph">Пользователь соглашается и принимает на себя полную ответственность за соответствие размещаемой им
    информации требованиям действующего законодательства, в том числе Пользователь соглашается с тем,
    что он несет полную ответственность за:</p>

<p class="paragraph">Пользователь соглашается и принимает на себя полную ответственность за соответствие размещаемой им
    информации требованиям действующего законодательства, в том числе Пользователь соглашается с тем,
    что он несет полную ответственность за:</p>

<p class="paragraph">Несоблюдение авторских прав третьих лиц, в т.ч. за использование фотографий третьих лиц;</p>

<p class="paragraph">Несанкционированное использование названий компаний;</p>

<p class="paragraph">Несанкционированное использование логотипов третьих лиц;</p>

<p class="paragraph">Несанкционированное использование знаков, в т.ч. торговых марок третьих лиц.</p>

<p class="paragraph">В случае поступления претензий от третьих лиц, связанных с информацией, размещенной Пользователем
    в приложении, Пользователь обязуется самостоятельно и за свой счет урегулировать такие претензии.</p>

<p class="paragraph">Объявления публикуются в приложении в момент размещения, а проверяются через некоторое время
    после размещения, если содержание объявлений нарушает правила размещения объявлений, то оно
    удаляется Администрацией. За повторяющие нарушения правил размещения объявлений или за
    многократное нарушений правил в один день, а также за заведомо ложную информацию в размещенном
    Пользователем объявлении Учётная запись Пользователя может быть удалена Администрацией.</p>

<h3>Администрация имеет право:</h3>

<p class="paragraph">Редактировать или удалять публикации Пользователя в Приложении, если они нарушают условия
    настоящего Соглашения, наносят вред Администрации или третьим лицам, а также по своему личному
    усмотрению без указания причины;</p>

<p class="paragraph">Размещать публикации Пользователя, находящиеся в открытом доступе, на сайтах партнерах.</p>

<p class="paragraph">Администрация имеет право по первому требованию соответствующего уполномоченного
    (правоохранительного) органа, но в соответствии с действующим законодательством, предоставлять такому
    государственному органу имеющуюся информацию о Пользователе, не исключая персональные данные.</p>

<h3>Администрация не несет ответственности:</h3>

<p class="paragraph">За неполадки в работе приложения, вызванные перебоями в работе оборудования и программного
    обеспечения, за сбои, возникающие в телекоммуникационных или энергетических сетях, за сбои, вызванные
    действиями вредоносных программ или третьих лиц;</p>

<p class="paragraph">За содержание, достоверность и законность информации, опубликованной Пользователем в
    Приложении.</p>

<p class="paragraph">За упущенную выгоду или вред/ущерб, причиненный Пользователю, за любые другие убытки, которые могут
    возникнуть при использовании Приложения и информации, размещенной на нем.</p>

<p class="paragraph">За использования Приложения лицами не достигшими совершеннолетия, совершившие сделки между
    другими пользователями в Приложении.</p>

<p class="paragraph">Администрация не гарантирует, что информация, размещенная в Приложении, будет доступна в любое
    время, или не будет удалена или утеряна. Компания не несет ответственности за сбои и задержки в работе
    Приложения, а также за возможные последствия таких сбоев и задержек.</p>

<p class="paragraph">Администрация не участвует в сделках между Пользователями, поэтому не несет никакой ответственности
    по этим сделкам.</p>

<p class="paragraph">Все споры между Пользователями решаются ими самостоятельно без привлечения Администрации.
    Пользователь соглашается решать все споры с другим Пользователем самостоятельно и предъявлять
    претензии другому Пользователю напрямую без привлечения к таким спорам Администрации.</p>

<p class="paragraph">Пользователь имеет право сообщить Администрации о нарушениях его прав другим Пользователем. В
    случае достаточности обоснований жалобы Пользователя и достаточности знаний предмета жалобы
    Администрацией, Администрация удалит с Приложения часть объявлений или все объявления, на которое
    жалуется Пользователь.</p>

<h3>Обработка персональных данных</h3>

<p class="paragraph">Регистрируясь В приложении, Пользователь соглашается с тем, что указанные им персональные данные
    являются общедоступными, а также Пользователь дает согласие на обработку его персональных данных
    Администрацией. Также Пользователь дает свое согласие на передачу своих персональных данных третьим
    лицам, в том числе на передачу персональных данных за границу.</p>

<p class="paragraph">Обработка персональных данных включает в себя любые действия или совокупность действий, связанных
    со сбором, регистрацией, накапливанием, хранением, адаптированием, изменением, обновлением,
    использованием, распространением, передачей, удалением персональных данных Пользователя с целью
    обеспечения работы сервисов Приложения.</p>

<p class="paragraph">Персональные данные обрабатываются Администрацией.</p>

<p class="paragraph">Обработка Администрацией персональных данных Пользователя осуществляется в целях обеспечения
    функционирования Приложения и предоставления Пользователю персонализированных сервисов
    Приложения. Администрация не несет ответственности за использование персональных данных
    Пользователя другими лицами.</p>

<h3>Заключительные положения</h3>

<p class="paragraph">Все споры, возникшие между Администрацией и Пользователем, разрешаются в суде по месту нахождении
    Администрации.</p>

<p class="paragraph">Соглашение или любая его часть может быть изменена Администраций без какого-либо специального
    уведомления Пользователя. Новая редакция Соглашения вступает в действие с момента ее размещения В
    приложении. Действующая версия Соглашения всегда доступна в Приложении.</p>

<p class="paragraph">Связаться с администрацией можно по электронному адресу Vozonkz@gmail.com</p>

</body>
</html>