server {
    listen 8000;
    server_name 188.166.50.157;

    client_max_body_size 75M;
    charset  utf-8;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static {
        root /home/car/car/static;
    }

    location /media  {
        root /home/car/car/media;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/car/car/car.sock;
    }
}