[Unit]
Description=car
After=network.target

[Service]
User=car
Group=www-data
WorkingDirectory=/home/car/car
ExecStart=/home/car/.virenv/car/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/car/car/car.sock config.wsgi:application


[Install]
WantedBy=multi-user.target